* {
    box-sizing: border-box;
}
img {
    max-width: 600px;
}

body {
    letter-spacing: 1.3px;
    font-family: 'Lato', sans-serif !important;
}

.column {
    padding: 1.5rem;
}

.nav-dark {
    background-color: #47474C;
    color: white;
}

.nav-dark a, 
.nav-dark a:hover {
    text-decoration: none;
    color: white;
}

.title-more-space {
    line-height: 1.4;
}

.skill {
    margin-right: 10px;
}

.hero {
    background: url("http://unsplash.it/600/?blur?image=426");
    background-size: cover;
}

.subtitle {
    margin-right: 30px;
}

.subtitle:last-child {
    margin-right: 0px;
}

#contact {
    background-color: rgba(122, 143, 155, 0.5);
    font-size: 18px;
    padding: 50px;
}